# Ignore virtual environment
venv/
.venv
__pycache__

# Ignore compiled/binary files
*.exe
*.dll
*.pyd

# Ignore large media files
*.gif
*.mp4

# Ignore CSV outputs
solution.csv
*.csv

# Ignore temporary files
*.log
*.tmp

# Ignore binary files 
build/

# Ignore .vscode
.vscode/